test-data/project-data/Contours.geojson filter=lfs diff=lfs merge=lfs -text
test-data/project-data/Merged-Feet.tif filter=lfs diff=lfs merge=lfs -text
test-data/osm-geofabrik/gis_osm_waterways_free_1.shp filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/srtm-1arcsec-metre-merged.vrt filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/world-polygon.geojson filter=lfs diff=lfs merge=lfs -text
culture-data/osm-overpass-turbo/*.geojson filter=lfs diff=lfs merge=lfs -text
culture-data/osm-overpass-turbo/*.kml filter=lfs diff=lfs merge=lfs -text
culture-data/HGM_İl_İlçe_Sınır_ve_Yerleşim_Verisi/*.shp filter=lfs diff=lfs merge=lfs -text
culture-data/HGM_İl_İlçe_Sınır_ve_Yerleşim_Verisi/*.dbf filter=lfs diff=lfs merge=lfs -text
culture-data/HGM_İl_İlçe_Sınır_ve_Yerleşim_Verisi/*.shx filter=lfs diff=lfs merge=lfs -text
culture-data/HGM_İl_İlçe_Sınır_ve_Yerleşim_Verisi/*.prj filter=lfs diff=lfs merge=lfs -text
culture-data/HGM_İl_İlçe_Sınır_ve_Yerleşim_Verisi/*.sbn filter=lfs diff=lfs merge=lfs -text
culture-data/HGM_İl_İlçe_Sınır_ve_Yerleşim_Verisi/*.sbx filter=lfs diff=lfs merge=lfs -text
culture-data/HGM_İl_İlçe_Sınır_ve_Yerleşim_Verisi/*.cpg filter=lfs diff=lfs merge=lfs -text
culture-data/HGM_İl_İlçe_Sınır_ve_Yerleşim_Verisi/*.xml filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/tr/*.shp filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/tr/*.dbf filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/tr/*.shx filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/tr/*.prj filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/tr/*.cpg filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/tr/*.a* filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/cy/*.shp filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/cy/*.dbf filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/cy/*.shx filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/cy/*.prj filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/cy/*.cpg filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/cy/*.a* filter=lfs diff=lfs merge=lfs -text
culture-data/osm-overpass-turbo/*.geojson filter=lfs diff=lfs merge=lfs -text
culture-data/osm-overpass-turbo/*.kml filter=lfs diff=lfs merge=lfs -text
culture-data/HGM_İl_İlçe_Sınır_ve_Yerleşim_Verisi/*.shp filter=lfs diff=lfs merge=lfs -text
culture-data/HGM_İl_İlçe_Sınır_ve_Yerleşim_Verisi/*.dbf filter=lfs diff=lfs merge=lfs -text
culture-data/HGM_İl_İlçe_Sınır_ve_Yerleşim_Verisi/*.shx filter=lfs diff=lfs merge=lfs -text
culture-data/HGM_İl_İlçe_Sınır_ve_Yerleşim_Verisi/*.prj filter=lfs diff=lfs merge=lfs -text
culture-data/HGM_İl_İlçe_Sınır_ve_Yerleşim_Verisi/*.sbn filter=lfs diff=lfs merge=lfs -text
culture-data/HGM_İl_İlçe_Sınır_ve_Yerleşim_Verisi/*.sbx filter=lfs diff=lfs merge=lfs -text
culture-data/HGM_İl_İlçe_Sınır_ve_Yerleşim_Verisi/*.cpg filter=lfs diff=lfs merge=lfs -text
culture-data/HGM_İl_İlçe_Sınır_ve_Yerleşim_Verisi/*.xml filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/tr/*.shp filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/tr/*.dbf filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/tr/*.shx filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/tr/*.prj filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/tr/*.cpg filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/tr/*.a* filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/cy/*.shp filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/cy/*.dbf filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/cy/*.shx filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/cy/*.prj filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/cy/*.cpg filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/osm-geofabrik/cy/*.a* filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/srtm-1arcsec-metre-merged.vrt filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/world-polygon.geojson filter=lfs diff=lfs merge=lfs -text
terrain-hydrography-data/contours.gpkg filter=lfs diff=lfs merge=lfs -text
